<div class="sidebar">
    <h4 class="flickering-text text-light text-center mb-4">
        <a href="/dashboard" class="text-light">EJ SWEETHUB POS</a>
    </h4>
    <ul class="list-unstyled">
        <li class="sidebar-item">
            <a href="/register">
                <span class="arrow">></span> <i class="fas fa-user-plus fa-fw"></i> Users
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/menu">
                <span class="arrow">></span> <i class="fas fa-utensils fa-fw"></i> Menu 
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/billing">
                <span class="arrow">></span> <i class="fas fa-file-invoice-dollar fa-fw"></i> Bills
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/items">
                <span class="arrow">></span> <i class="fas fa-box fa-fw"></i> Items
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/order_history">
                <span class="arrow">></span> <i class="fas fa-history"></i> Order History
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/topup"> 
                <span class="arrow">></span> <i class="fas fa-credit-card fa-fw"></i> Top Up
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/rfid/register">
                <span class="arrow">></span> <i class="fas fa-id-card fa-fw"></i> Register RFID User
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" id="logoutLink" onclick="confirmLogout()">
                <span class="arrow">></span> <i class="fas fa-sign-out-alt fa-fw"></i> Logout
            </a>
        </li>
    </ul>
</div>
